body{
    background: url(images/bg-intro-desktop.png) rgb(255, 121, 120);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
main{
    display:flex;
    justify-content: space-between;
}
.form-description{
    position: relative;
    left: 8rem;
    top: 12rem;
    color: white;
}
.form-description h1{
    font-weight: 700;
    font-size: 30px;    
}

.form-details{
    display:flex;
    flex-direction: column;
    position: relative;
    top: 7rem;
    right: 3rem;
    width: 45%;
}

form{
    background-color: white;
    height: 100%;   
    width: 80%;
    margin-top: 2rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 8px 4px rgb(213, 100, 106);
}
.form-promo{
    background-color: rgb(93, 84, 163);
    box-shadow: 0.8px 8px 4px rgb(213, 100, 106);
    border-radius: 10px;
    height: 3rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#form-promo-first-text{
    color: white;
}
#form-promo-second-text{
    color: rgb(170, 164, 212);
}

input{
    height:2.5rem;
    width: 80%;
    margin:0.2rem;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 5px;    
}

#icon{
    position: absolute;
    top: 7.4rem;
    right: 13rem;
    visibility: hidden;      
}
#icon1{
    position: absolute;
    top: 12rem;
    right: 13rem;
    visibility: hidden;
}
#icon2{
    position: absolute;
    top: 17rem;
    right: 13rem;
    visibility: hidden;
}
#icon3{
    position: absolute;
    top: 21.8rem;
    right: 13rem;
    visibility: hidden;
}


#submit{
    width: 86%;
    background-color: rgb(53, 205, 140);
    border: none;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    outline: none;
}
input[placeholder]{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left: 1.5rem;
}
input[value]{
    font-family: 'Poppins', sans-serif;
}
input:invalid{
    border-color: blueviolet;
}
input:focus{
    color: yellowgreen;
}

#form-text1{
    color: rgb(219, 216, 232);
    font-size: 10px; 
}
#form-text2{
    color: hsl(0, 100%, 74%);
    font-size: 12px;
}
form p{
    width: 76%;
    position: relative;
    top: 0.1rem;
    font-size: 11px;
    margin-bottom: 3rem;
}
.error1, .error2, .error3, .error4{
    width: 86%;
    color: red;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 2px;
    visibility: hidden;
    font-style: italic;
    font-size: 12px;
}

.attribution {
     font-size: 11px;
     text-align: center;
     margin-top: 14rem;
}
    .attribution a { 
     color: hsl(228, 45%, 44%); 
}

@media (max-width:600px) {
    .form-description{
        position: relative;
        top: 2rem;
        width: 100rem;
        color: white;        
    }
    
    
    .form-details{
        display:flex;
        flex-direction: column;
        position: relative;
        top: 33rem;
        right: 4rem;        
        width: 100%;
    }
    .form-promo{
        width: 25rem;
    }

    form{
        width: 25rem;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        margin-top: 40rem;
   }
       .attribution a { 
        color: hsl(228, 45%, 44%); 
   }

}